.widget-grid {
  position: relative;
  min-height: 800px;
  min-width: 1400px;
}

.widget-grid.edit-mode {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px) !important;
  background-size: var(--grid-size) var(--grid-size) !important;
  background-position: 0px 0px !important;
  min-height: 800px;
  min-width: 1400px;
} 